/* variables scss */

$small: 18px;
$medium: 24px;
$large: 48px;
$aqua: aqua; 
$violet: violet;
$white: white;
$black: black;

.container-fluid{
    padding: 0px;
}
.navbar__color-fondo{
    background-color: aqua;
    background-image: linear-gradient(to right, violet, aqua) ;
}

.navbar__font {
    font-family: 'Poppins', sans-serif;
}

.carousel__padding{
    padding-top: $large;
    padding-bottom: $large;
}
.noticias__display {
    padding-top: 50px;
}
.titulo__noticias{
    color: $aqua;
    font-size: $large;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.subtitulo__noticias{
    color: $white;
    padding-top: $medium;
    font-size: $medium;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.historia__noticias{
    color: $white;
    padding-top: $medium;
    font-size: $small;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: $black;
}
.titulo__nosotros{
    font-size: $large;
    color: $violet;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.historia__nosotros{
    color: $white;
    font-size: $small;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
.tituloEstrenos{
    color: violet;
    font-family: 'Poppins', sans-serif;
}
.historiaEstrenos{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.carousel-indicators{
    max-height: 700px;
}
form{
    margin: 18px 18px 18px;
    color: white;
}
.img__nosotros{
    max-width: 400px;
    max-height: 400px;
    align-content: center;
}
.footer__bg--color{
    background-color: $white;
}
.footer__tamanio {
    font-size: $small;
    text-align: center;
}

.footer__padding {
    padding-top: $small;
    padding-bottom: $small;
}
.info__contacto {
    font-family: 'Poppins', sans-serif;
    font-size: $medium;
    color: $white;
    text-align: center;
    padding-top: $large;
    padding-bottom: $large;
}
.card{
    background-color: $black;
}
.cards__margin {
    margin-top: 50px;
    margin-bottom: 50px;
}
.card__bgcolor{
    background-color: $black;
}
.card__title_nuestro{
    color: $violet;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}
.card__text_nuestro{
    color: $white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.links__tracks{
    text-align: center;
    text-decoration: none;
}

.padding__noticias{
    align-items: center;
    margin-top: 250px;
    margin-bottom: 250px;
}
